<%- include('../partials/header.ejs'); %>
  
</ul>

<div class="main">
  <div class="main-container blog-posts">

    <%   const API_URL = "http://localhost:3000/api/posts";   %>
    <%   const API_BASE_URL = "http://localhost:3000/";  %>


    <%  Blogs.forEach(   blog =>  {    %>

    <%   const postImage = API_BASE_URL + blog["post_image"] ;    %>
    <%   const postLink = `/api/posts/${blog.id}`;   %>
    <%   const postDate = new Date(parseInt(blog.added_date)).toDateString();   %>


    <a class="post-link" href="<%= postLink %>">
    <div class="post" >
      
      <div class="post-image"  style="background-image: url('<%= postImage %>')">     </div>
      <div class="post-content">
        <div class="post-date">Posted on <%= blog['added_date'] %> </div>
        <div class="post-title"><h4> <%= blog['title'] %>  </h4></div>
        <div class="post-text">
          <%= blog['content']  %>
        </div>
      </div>
    </div>


 <% });  %>

  </div>
</div>


<%- include('../partials/footer.ejs'); %>