<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= Content['title'] %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/post.css" />
    <!--==================== https://iconscout.com/unicons/explore/line ====================-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <div class="container">
      <% const API_BASE_URL = "http://localhost:3000/" ; const post_image =
      API_BASE_URL + Content['post_image'] ; %>
      <header style="background-image: url('<%= post_image %>')"></header>
      <div class="main">
        <div class="main-container">
          <div class="navigation">
            <a href="/">Back</a>
            <a href="/edit/<%=Content['_id'] %>">
              <i class="uil uil-edit"></i>
            </a>
            <a data-linkid="<%= Content.id  %>" class="create">
              <i class="uil uil-times-square"></i>
            </a>
          </div>

          <div class="post-container">
            <div id="individual-post-title"><%= Content['title'] %></div>
            <div id="individual-post-date">
              Posted on <%= Content['added_date'].toDateString() %>
            </div>
            <div id="individual-post-content"><%= Content['content'] %>.</div>
          </div>
        </div>
      </div>
      <footer>
        <p>Made with ❤️ by Oserhir Youssef</p>
      </footer>
    </div>
    <script src="/js/index.js" async defer></script>
  </body>
</html>

<script>
  const btnelement = document.querySelector(".create");
  const articleId = btnelement.getAttribute("data-linkid");
  // what is data ?  ---> { mylink: "/all-articles" }
  btnelement.addEventListener("click", (eo) => {
    fetch(`/blogs/${articleId}`, { method: "DELETE" })
      .then((response) => response.json())
      .then((data) => (window.location.href = data.mylink));
  });
</script>
